deploy/dify-workflows/medical-record.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 智慧云脑-病历草稿生成
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1781662787933--1781662843487-target
      source: '1781662787933'
      sourceHandle: source
      target: '1781662843487'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1781662843487--1781662867265-target
      source: '1781662843487'
      sourceHandle: source
      target: '1781662867265'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: true
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: registrationId
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: registrationId
        - default: ''
          hint: ''
          label: departmentCode
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: departmentCode
        - default: ''
          hint: ''
          label: dialogueText
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: dialogueText
      height: 161
      id: '1781662787933'
      position:
        x: 0
        y: 0
      positionAbsolute:
        x: 0
        y: 0
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1781662787933'
          - dialogueText
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: bfdc6ee5-eedc-4859-b62e-4e3698eb79da
          role: system
          text: "你是门诊医生助手。请根据问诊文本生成结构化门诊病历草稿。\n\n要求：\n1. 只输出 JSON，不要输出 Markdown。\n\
            2. 不要输出空字段。\n3. 如果信息缺失，请写“未提及”，不要留空。\n4. AI 结果仅作医生辅助，不作为最终诊断。\n\n问诊文本：\n\
            {{#1781662787933.dialogueText#}}\n\n输出格式：\n{\n  \"chiefComplaint\": \"\
            \",\n  \"presentIllness\": \"\",\n  \"pastHistory\": \"\",\n  \"physicalExam\"\
            : \"\",\n  \"diagnosis\": \"\",\n  \"treatmentAdvice\": \"\",\n  \"degraded\"\
            : false\n}"
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781662843487'
      position:
        x: 342
        y: 63.33333333333333
      positionAbsolute:
        x: 342
        y: 63.33333333333333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781662843487'
          - text
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1781662867265'
      position:
        x: 684
        y: 78
      positionAbsolute:
        x: 684
        y: 78
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 21
      y: 80.5
      zoom: 0.7
  rag_pipeline_variables: []
